<div class="about-main">
  <a id="simple-menu" href="#sidr"><img src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-white.svg" WIDTH="35" HEIGHT="35"></a>

    <div id="sidr">
      <ul>
        <li><div id="no-turbo" data-no-turbolink><a href="/">Home</a></div></li>
        <li><div id="no-turbo" data-no-turbolink><a href="/about">About</a></div></li>
        <li><div id="no-turbo" data-no-turbolink><a href="/signup">Contact</a></div></li>
      </ul>
    </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="padding-top:70px;text-align:center;">
      <h2>Relive your favourite memories</h2>
    </div>
    <div class="col-md-2"></div>
	</div>
</div>

<div class="supporting">
  <h2>No more sorting through photos</h2>
  <p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
  <form action="/signup">
     <input type="submit" value="Sign up">
  </form>
</div>