<a id="simple-menu" href="#sidr"><img src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-white.svg" WIDTH="35" HEIGHT="35"></a>
      
  <div id="sidr">
  	<ul>
      <li><div id="no-turbo" data-no-turbolink><a href="/">Home</a></div></li>
      <li><div id="no-turbo" data-no-turbolink><a href="/about">About</a></div></li>
      <li><div id="no-turbo" data-no-turbolink><a href="/contact">Contact</a></div></li>
    </ul>
  </div>