<div class="main">
  <a id="simple-menu" href="#sidr"><img src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-white.svg" WIDTH="35" HEIGHT="35"></a>
      
  <div id="sidr">
  	<ul>
      <li><div id="no-turbo" data-no-turbolink><a href="/">Home</a></div></li>
      <li><div id="no-turbo" data-no-turbolink><a href="/about">About</a></div></li>
      <li><div id="no-turbo" data-no-turbolink><a href="/signup">Contact</a></div></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-5">
       <div class="box" style="margin-top:100px;">
          <h2>Create and share Stories</h2>
          <form action="/about">
             <input type="submit" value="Learn more">
          </form>
       </div>
    </div>
    <div class="col-md-7"></div>
  </div>
</div>

<div class="supporting">
  <h2>Relive and share your adventures</h2>
  <p>Stories automatically creates a digital journal filled with only your best photos.</p>
</div>

<div class="secondary">
  <img src="https://dl.dropboxusercontent.com/s/nwyc5e6de55yvvx/Screenshot%202016-04-28%2017.23.35.png" style="min-width:100%; max-height:350px">
</div>

<div class="supporting">
  <h2>Discover Stories</h2>
  <form action="/about">
    <input type="submit" value="Learn more">
  </form>
</div>